#Question 2- Use the Real_time_dataset for this. Apply different types of loss functions to predict class ‘gender’ and report their performances.

In [1]:
#importing file to colab

from google.colab import files
uploaded = files.upload()

Saving RealTimeDataset.csv to RealTimeDataset.csv

In [2]:
#Import libraries

import numpy as np
import pandas as pd
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior() 
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import RobustScaler
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import median_absolute_error
from sklearn.model_selection import cross_val_predict
from keras.models import Sequential
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from keras.layers import Dense
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import svm
from sklearn import neighbors
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

from sklearn.metrics import classification_report

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow/python/compat/v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [3]:
#read the csv file
df = pd.read_csv('RealTimeDataset.csv')

In [4]:
df.shape

(25, 5)

In [5]:
#shows missing values
df.isna().sum()

Sample    0
Height    0
Weight    0
Age       0
Gender    0
dtype: int64

In [6]:
df = df.drop(columns=['Sample'])
df.head()

   Height  Weight  Age  Gender
0     5.7      68   22    Male
1     5.6      67   29    Male
2     5.6      52   23  Female
3     5.9      80   26    Male
4     5.5      70   30    Male

In [7]:
df.describe()

          Height     Weight        Age
count  25.000000  25.000000  25.000000
mean    5.596400  69.440000  26.320000
std     0.334152  10.657861   3.387723
min     5.000000  52.000000  22.000000
25%     5.400000  61.000000  24.000000
50%     5.600000  70.000000  26.000000
75%     5.900000  79.000000  29.000000
max     6.100000  88.000000  36.000000

In [8]:
#defining the features and the labels, X and y resp.
X = df.drop(['Gender'], axis=1)
y = df['Gender']
print(X)
print(y)

    Height  Weight  Age
0     5.70      68   22
1     5.60      67   29
2     5.60      52   23
3     5.90      80   26
4     5.50      70   30
5     5.00      54   29
6     5.50      70   22
7     5.10      82   25
8     5.20      54   25
9     6.00      73   22
10    5.11      79   25
11    5.40      66   30
12    5.80      88   26
13    6.10      83   23
14    5.90      75   27
15    5.60      61   30
16    6.00      82   22
17    5.10      56   36
18    6.10      82   27
19    5.20      66   30
20    5.60      66   24
21    5.70      78   26
22    5.50      54   25
23    5.90      70   28
24    5.80      60   26
0       Male
1       Male
2     Female
3       Male
4       Male
5     female
6       Male
7       male
8     female
9       Male
10      male
11    female
12      male
13      male
14      Male
15    Female
16      Male
17      Male
18      Male
19    female
20    Female
21      Male
22    Female
23    Female
24      Male
Name: Gender, dtype: object

In [9]:
#spliting the features and labels/targets into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True, test_size=0.2, random_state=42)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (20, 3) (20,)
Test set: (5, 3) (5,)

In [20]:
#defining classifiers
dt = tree.DecisionTreeClassifier()
svc = svm.SVC(gamma='auto')
knn = neighbors.KNeighborsClassifier()
gnb = GaussianNB()

#fitting data
dt = dt.fit(X_train,y_train)
knn = knn.fit(X_train, y_train)
gnb = gnb.fit(X_train, y_train)

#making predictions
prediction1 = dt.predict(X_test)
prediction3 = knn.predict(X_test)
prediction4 = gnb.predict(X_test)

In [21]:
#checking classification accuracy
r1 = accuracy_score(y_test, prediction1)
r3 = accuracy_score(y_test, prediction3)
r4 = accuracy_score(y_test, prediction4)

print("Accuracy score of Model 1: DecisionTreeClassifier is "+str(r1))
print("Accuracy score of Model 3: KNN is "+str(r3))
print("Accuracy score of Model 4: GaussianNB is "+str(r4))

Accuracy score of Model 1: DecisionTreeClassifier is 0.4
Accuracy score of Model 3: KNN is 0.2
Accuracy score of Model 4: GaussianNB is 0.4

In [17]:
print("Model 1: DecisionTreeClassifier\n",metrics.classification_report(y_test, prediction1))

Model 1: DecisionTreeClassifier
               precision    recall  f1-score   support

      Female       0.00      0.00      0.00         1
        Male       0.50      0.50      0.50         2
      female       1.00      0.50      0.67         2
        male       0.00      0.00      0.00         0

    accuracy                           0.40         5
   macro avg       0.38      0.25      0.29         5
weighted avg       0.60      0.40      0.47         5

In [18]:
print("Model 3: KNN is\n",metrics.classification_report(y_test, prediction3))

Model 3: KNN is
               precision    recall  f1-score   support

      Female       0.00      0.00      0.00         1
        Male       0.50      0.50      0.50         2
      female       0.00      0.00      0.00         2
        male       0.00      0.00      0.00         0

    accuracy                           0.20         5
   macro avg       0.12      0.12      0.12         5
weighted avg       0.20      0.20      0.20         5

In [19]:
print("Model 4: GaussianNB\n",metrics.classification_report(y_test, prediction4))

Model 4: GaussianNB
               precision    recall  f1-score   support

      Female       0.00      0.00      0.00         1
        Male       0.40      1.00      0.57         2
      female       0.00      0.00      0.00         2

    accuracy                           0.40         5
   macro avg       0.13      0.33      0.19         5
weighted avg       0.16      0.40      0.23         5

Binary Classification Loss Functions

a)Binary Cross-Entropy

b)Hinge Loss

c)Squared Hinge Loss

In binary classification, where the number of classes M equals 2, cross-entropy can be calculated as:

−(ylog(p)+(1−y)log(1−p))

In [77]:
from math import log

if y_test is 1:
  CrossEntropy = -log(prediction1)
else:
  CrossEntropy = -log((1 - prediction1))

print(CrossEntropy)

TypeError: ignored